.advantages {
  padding: 0;
  display: flex;
}

.advantages__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  padding: 0 @mobile-indent;
}

.advantages__title {
  .font-title;
  color: @black-two;
  line-height: 1.67;
  text-align: left;
  margin: 15px 0;
}

.advantages__list {
  list-style-type: none;
  padding: 0;
  margin-top: 13px;
  margin-bottom: 22px;
}

.advantages__item {
  .font-description-arial;
  font-size: 14px;
  line-height: 1.29;
  margin: 0;
  margin-bottom: 24px;
  padding-left: 80px;
  padding-top: 2px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 60px;
    height: 60px;
    background-color: @leaf;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--eco::before {
    background-image: url("../img/advantage-leaf@1x.png");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/advantage-leaf@2x.png");
      background-size: 83%;
    }
  }

  &--chemical::before {
    background-image: url("../img/advantage-powder@1x.png");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/advantage-powder@2x.png");
      background-size: 83%;
    }
  }

  &--dinner::before {
    background-image: url("../img/advantage-dining@1x.png");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/advantage-dining@2x.png");
      background-size: 83%;
    }
  }

  &--time::before {
    background-image: url("../img/advantage-clock@1x.png");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/advantage-clock@2x.png");
      background-size: 83%;
    }
  }
}

@media (min-width: @tablet-width) {
  .advantages__title {
    font-size: 60px;

    line-height: 1;
  }

  .advantages__wrapper {
    padding: 0 @tablet-indent;
    border-bottom: 1px solid @white-three;
  }

  .advantages__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // margin-top: 58px;
    margin-top: 0;
    margin-bottom: 27px;
  }

  .advantages__item {
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    margin-top: 58px;
    // margin-bottom: 85px;
    margin-bottom: 26px;
    max-width: 324px;
    height: 233px;
    flex-grow: 1;

    padding-left: 0;
    padding-right: 80px;
    padding-top: 112px;

    // z-index: 10;

    &:nth-of-type(even) {
      margin-left: 60px;
    }

    &::before {
      // content: "";
      // position: absolute;
      // top: 0;
      // left: 0;
      // display: block;
      width: 80px;
      height: 80px;
      // background-color: @leaf;
      // background-repeat: no-repeat;
      // background-position: center;
    }

    &--eco::before {
      // background-image: url("../img/advantage-leaf@1x.png");
      background-size: 62%;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        // background-image: url("../img/advantage-leaf@2x.png");
        // background-size: 83%;
      }
    }

    &--eco::after {
      content: "1";
      position: absolute;
      top: 0;
      left: 120px;
      margin-top: -40px;

      .font-title;
      font-size: 281px;
      color: @white-three;

      z-index: -1;
    }

    &--chemical::before {
      // background-image: url("../img/advantage-powder@1x.png");
      background-size: 62%;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        // background-image: url("../img/advantage-powder@2x.png");
        // background-size: 83%;
      }
    }

    &--chemical::after {
      content: "2";
      position: absolute;
      top: 0;
      left: 110px;
      margin-top: -40px;

      .font-title;
      font-size: 281px;
      color: @white-three;

      z-index: -1;
    }

    &--dinner::before {
      // background-image: url("../img/advantage-dining@1x.png");
      background-size: 62%;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        // background-image: url("../img/advantage-dining@2x.png");
        // background-size: 83%;
      }
    }

    &--dinner::after {
      content: "3";
      position: absolute;
      top: 0;
      left: 115px;
      margin-top: -40px;

      .font-title;
      font-size: 281px;
      color: @white-three;

      z-index: -1;
    }

    &--time::before {
      // background-image: url("../img/advantage-clock@1x.png");
      background-size: 62%;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        // background-image: url("../img/advantage-clock@2x.png");
        // background-size: 83%;
      }
    }

    &--time::after {
      content: "4";
      position: absolute;
      top: 0;
      left: 115px;
      margin-top: -40px;

      .font-title;
      font-size: 281px;
      color: @white-three;

      z-index: -1;
    }
  }
}

@media (min-width: @desktop-width) {
  .advantages__wrapper {
    max-width: @content-width;
    padding: 0;
    border: none;
  }

  .advantages__list {
    justify-content: space-between;
    margin-bottom: 7px;
  }

  .advantages__item {
    max-width: 226px;
    margin-top: 56px;
    margin-right: 20px;
    padding-right: 0;

    &:last-of-type {
      margin-left: 0;
    }

    &:nth-of-type(even) {
      margin-left: 0;
    }
  }
}
