.benefit {
  display: flex;
  // временно, для понимания вида
  // min-height: 480px;

  // background-color: @leaf;
  background-image: url("../img/index-can-mobile@1x.png"),
    url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  // background-position: center 180px, top;
  background-position: center 80%, top;
  background-size: 88% auto, 100% auto;
  // background-size: contain;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/index-can-mobile@2x.png"),
      url("../img/index-background-mobile@2x.jpg");
  }
}

.benefit__wrapper {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.benefit__title {
  .font-title;
  color: @white-two;
  margin: 0;
  margin-top: 25px;
  margin-bottom: 14px;
}

.benefit__subtitle {
  .font-description-oswald;
  color: @white-two;
  margin-bottom: 29px;
}

.benefit__image {
  margin: auto;
}

.benefit__link {
  height: 40px;
  margin: 0 @mobile-indent;
  margin-top: 85%;
}

@media (min-width: @tablet-width) {
  .benefit {
    background-color: @white-two;
    background-image: url("../img/index-can-tablet@1x.jpg");
    background-position: bottom;
    min-height: 700px; // это нада?

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/index-can-tablet@2x.jpg");
    }
  }

  .benefit__wrapper {
    padding: 0 @tablet-indent;
  }

  .benefit__title {
    .font-title;
    font-size: 60px;
    color: @black-two;
    text-align: left;
    max-width: 550px;
    margin-left: 90px;
  }

  .benefit__subtitle {
    .font-description-oswald;
    color: @black-two;
    text-align: left;
    margin-left: 90px;
  }

  .benefit__image {
    width: 709px;
  }

  .benefit__link {
    width: 245px;
    height: 52px;
    margin-left: 90px;
  }
}

@media (min-width: @desktop-width) {
  .benefit {
    background-color: @white-two;
    background-image: linear-gradient(to right, @white-two 50%, @leaf 50%);

    margin-top: -84px;
    padding-top: 84px;
    z-index: 5;
    position: relative;
    width: 100%;

    background-image: url("../img/index-can-desktop@1x.png"),
      url("../img/index-background-desktop@1x.jpg");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/index-can-desktop@2x.png"),
        url("../img/index-background-desktop@2x.jpg");
    }
  }

  .benefit__wrapper {
    max-width: @content-width;
    padding: 0;
  }

  .benefit__title {
    text-align: left;
  }

  .benefit__subtitle {
    text-align: left;
  }

  .benefit__image {
    width: 552px;
  }

  .benefit__link {
    order: 1;
  }
}
