.benefit {
  background-color: @leaf;
  background-image: url(../img/index-background-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.benefit__title {
  .font-title;
  color: @white-four;
}

.benefit__subtitle {
  .font-description-oswald;
  color: @white-four;
}
