.copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.copyright__text {
  .font-description-arial;
  font-size: 16px;
  color: @greyish-brown;
  margin-top: 7px;
}

.copyrght__icon {
  fill: @beast-grey;
}

.copyright__link {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: -7px;
}

@media (min-width: @tablet-width) {
  .copyright {
    width: 164px;
  }

  //хм
  .copyright__text {
    margin-top: 11px;
  }
}

@media (min-width: @desktop-width) {
  .copyright__text {
    &:active {
      opacity: 0.3;
    }
  }

  .copyrght__icon {
    &:hover,
    &:focus {
      fill: @leaf;
    }

    &:active {
      fill: @leaf;
      opacity: 0.3;
    }
  }
}
