.copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.copyright__text {
  .font-description-arial;
  font-size: 16px;
  color: @greyish-brown;
  margin-top: 7px;
}

.copyright__link {
}

.copyrght__icon {
  fill: @beast-grey;
  // width: 27px;
  // height: 34px;
  position: relative;
  top: 0;
  right: 0;
  margin-right: -8px;
  margin-top: -2px;
}

@media (min-width: @tablet-width) {
  .copyright {
    width: 164px;
  }
}

.copyright__text {
  margin-top: 11px;
}
