.example {
  background-color: @white-three;
  padding: 0;
  display: flex;
}

.example__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
}

.example__essence {
  padding: 0 @mobile-indent;
  padding-top: 8px;
}

.example__title {
  .font-title;
  color: @black-two;
  line-height: 1.67;
  text-align: left;
  margin: 16px 0;
  padding: 0 @mobile-indent;
}

.example__description {
  .font-description-arial;
  font-size: 14px;
  line-height: 1.29;
  padding-right: 2px; // для perfect pixel
  margin-top: 0;
  margin-bottom: 25px;
}

.example__deflist {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  width: 280px;
  margin: 0 auto;
}

.example__term {
  .font-description-oswald;
  font-size: 24px;
  color: @black-two;
  height: 56px;
  border: 1px solid @very-light-pink-three;
  border-radius: 3px;
  width: 124px;
  flex-grow: 0;
  padding-top: 12px;

  &:first-of-type {
    margin-right: 32px;
  }
}

.example__definition {
  .font-description-arial;
  font-size: 12px;
  color: @greyish-brown;
  height: 30px;
  text-transform: lowercase;
  position: absolute;
  background-color: @white-three;
  text-align: center;
  max-width: 25%;
  padding: 5px;
  margin: 0;
  margin-bottom: -15px;

  &--weight {
    bottom: 0;
    left: 10%;
  }

  &--time {
    bottom: 0;
    right: 10%;
  }
}

.example__visual {
  display: flex;
  flex-direction: column;

  height: 114%;
}

.example__instance {
  background-repeat: no-repeat;
  background-position: 50% 45%;
  display: flex;
  min-height: 318px;
  background-size: contain;

  &--fat {
    background-image: url("../img/before-mobile@1x.png");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/before-mobile@2x.png");
    }
  }

  &--slim {
    display: none;

    background-image: url("../img/after-mobile@1x.png");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/after-mobile@2x.png");
    }
  }
}

.example__inputs {
  margin: 0 auto;
}

.example__controls {
  margin: 0 auto;
  margin-bottom: 44px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}

.example__ctrl {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
}

.example__button {
  .font-description-oswald;
  font-size: 16px;
  line-height: 1.25;
  color: @black-two;
  background-color: transparent;
  border: none;
  position: relative;
  padding: 0;
  margin-top: -5px;
  margin-right: -5px;
}

.example__invisible-checkbox {
  /* скрываем чекбоксы правильно */
  position: absolute;
  // -webkit-appearance: none;
  // -moz-appearance: none;
  appearance: none;

  /* скрываем чекбоксы в IE 11 */
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.example__checkbox {
  width: 84px;
  height: 14px;
  background: @white-two;
  outline: none;
  border: 1px solid @very-light-pink-three;
  border-radius: 6px;
  transition: 0.5s;
  position: relative;
  margin: 0 19px;

  &::before {
    content: "";
    position: absolute;
    width: 33px;
    height: 6px;
    border-radius: 3px;
    top: 3px;
    left: 7px;
    background: @leaf;
    transform: scale(1.1);
    transition: 0.5s;
  }

  &:checked {
    background: @white-two;

    &::before {
      left: 43px;
    }
  }
}

.example__description-block {
  display: flex;
  justify-content: center;
}

.example__secondary-description {
  .font-description-oswald;
  line-height: 1.43;
  color: @black-two;
  text-align: center;
  display: inline-block;
  margin-top: 32px;
}

@media (min-width: @tablet-width) {
  .example {
    background-color: @white-two;
  }

  .example__essence {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 @tablet-indent;
    padding-top: 8px;
  }

  .example__title {
    font-size: 60px;
    line-height: 1;
    margin-top: 42px;
    padding: 0 @tablet-indent;
  }

  .example__description {
    font-size: 16px;
    line-height: 1.5;
    flex-grow: 1;
    min-width: 670px;
    margin-top: 40px;

    padding-right: 10px;
  }

  .example__deflist {
    margin: 0;
    margin-top: 30px;
    width: 366px;
    z-index: 20;
  }

  .example__term {
    max-width: 170px;
    width: 162px;
    height: 72px;
    font-size: 30px;
    line-height: 1.23;

    &:first-of-type {
      margin-right: 42px;
    }
  }

  .example__definition {
    max-width: 50%;
    font-size: 14px;
    line-height: 1;
    color: @greyish-brown;
    background-color: @white-two;

    &--weight {
      left: 27px;
    }

    &--time {
      max-width: 40%;
      right: 13px;
    }
  }

  .example__visual {
    position: relative;
  }

  .example__instance {
    background-position: 60% 43%;
    min-height: 716px;
    background-size: 690px auto, auto;

    &--fat {
      background-image: url("../img/before-tablet@1x.png"),
        linear-gradient(to bottom, @white-two 35.6%, @white-three 35.6%);

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/before-tablet@2x.png"),
          linear-gradient(to bottom, @white-two 35.6%, @white-three 35.6%);
      }
    }

    &--slim {
      display: none;
      background-image: url("../img/after-tablet@1x.png"),
        linear-gradient(to bottom, @white-two 35.6%, @white-three-v2 35.6%);

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/after-tablet@2x.png"),
          linear-gradient(to bottom, @white-two 35.6%, @white-three-v2 35.6%);
      }
    }
  }

  .example__controls {
    margin: 0;
    padding: 0;
    margin-bottom: 80px;
    margin-top: -82px;
    height: 1px;
  }

  .example__ctrl {
    padding-top: 8px;
  }

  .example__button {
    font-size: 20px;
    border-bottom: 1px dotted @very-light-pink-three;
    margin-top: -8px;
    margin-right: 0;
    padding-bottom: 5px;

    &:hover,
    &:focus {
      border-bottom: 1px solid @very-light-pink-three;
    }

    &:active {
      border-bottom: none;
    }
  }

  .example__checkbox {
    width: 428px;
    height: 6px;
    border-radius: 2.5px;
    background-color: #dcdcdc;
    margin: 0 23px;
    cursor: pointer;

    &::before {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 11px solid @white-two;
      box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.15);

      top: 0;
      left: 198px;
      margin-top: -12px;
      z-index: 10;
    }

    &:checked {
      &::before {
        background-color: @very-light-pink-three;
        left: 198px;
      }
    }

    &:hover,
    &:focus {
      &::before {
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
      }
    }

    &:active {
      &::after {
        content: "";
        width: 38px;
        height: 38px;
        background-color: @leaf;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 194px;
        z-index: 5;
        margin-top: -16px;
      }

      &::before {
        // оставить для примера на будущее
        // прикольный эффект, со следующей строкой
        // border: @leaf solid 2px;

        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
      }
    }
  }

  .example__description-block {
    flex-direction: column;
  }

  .example__secondary-description {
    max-width: 320px;
    font-size: 20px;
    text-align: right;
    margin-top: 27px;

    &:last-of-type {
      margin-top: 0;
    }
  }
}

@media (min-width: @desktop-width) {
  .example {
    margin-bottom: 90px;
    background-color: @white-two;
    background-image: linear-gradient(to bottom, @white-two 180px, @white-three 180px);
  }

  .example__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: @content-width;
    padding: 0;
  }

  .example__title {
    background-color: @white-two;
    flex-grow: 1;
    width: 100%;
    padding-left: 0;
  }

  .example__essence {
    min-width: auto;
    max-width: @content-width / 2;
    margin-right: 0;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 0;
    position: relative;
  }

  .example__description {
    margin-top: 124px;
    min-width: auto;
    width: 441px;
    flex-grow: 0;
  }

  .example__deflist {
    margin-top: 43px;
    justify-content: flex-start;
  }

  .example__term {
    width: 162px;
    flex-grow: 0;
  }

  .example__definition {
    background-color: @white-three;
  }

  .example__secondary-description {
    text-align: left;
    margin-top: 55px;
    margin-bottom: 59px;

    &:last-of-type {
      position: absolute;
      bottom: 61px;
      right: 145px;
      margin-bottom: 10px;
    }
  }

  .example__visual {
    width: 610px;
    margin-left: 0;
    position: relative;
    top: 0;
    left: 0;
    margin-top: -210px;
    height: 734px;
  }

  .example__instance {
    background-position: 45% 39%;
    min-height: 716px;
    background-size: 115% auto, auto;

    &--fat {
      background-image: url("../img/before-desktop@1x.png"),
        linear-gradient(to bottom, @white-two 38%, @white-three 38%);

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/before-desktop@2x.png"),
          linear-gradient(to bottom, @white-two 38%, @white-three 38%);
      }
    }

    &--slim {
      display: none;
      background-image: url("../img/after-desktop@1x.png"),
        linear-gradient(to bottom, @white-two 38%, @white-three-v2 38%);

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/after-desktop@2x.png"),
          linear-gradient(to bottom, @white-two 38%, @white-three-v2 38%);
      }
    }
  }

  .example__controls {
    position: relative;
    top: 0;
    left: 0;
    margin-left: 53.1%;
    margin-top: -64px;
  }

  .example__ctrl {
    top: 0;
    left: 0;
    width: 500px;
  }

  .example__button {
    padding-bottom: 4px;

    &--before {
      margin-left: -72px;
    }

    &--after {
      margin-right: -72px;
    }
  }
}
