.footer {
  background-color: @white-three;
}

.footer__contacts {
  background-color: @white-four;
}

.footer__dealers {
  .font-description-oswald;
  font-size: 16px;
  line-height: 1.25;
  color: @black-two;
  text-align: left;
}

.footer__address {
  .font-description-arial;
  line-height: 1.43;
  color: @greyish-brown;
}
