.form {
  display: flex;
}

.form__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
}

.form__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: -3px;
}

.form__description {
  .font-description-oswald;
  line-height: 1.29;
  color: @black-two;
  text-align: left;
  margin: 0;
  margin-bottom: 2px;
  padding: 0 @mobile-indent;
}

// параметры кота
.form__list-cat-propeties {
  list-style-type: none;
  margin-top: 36px;
  padding: 0 @mobile-indent;
  margin-bottom: 10px;
}

.form__label {
  .font-description-oswald;
  color: @black-three;
  font-size: 16px;
  line-height: 1.13;
  text-align: left;
  display: flex;
  justify-content: space-between;
  position: relative; // для позиционирования иконок
}

.form__notion {
  padding-top: 14px;
}

.form__input-text {
  .font-description-oswald;
  font-size: 16px;
  text-align: left;
  line-height: 1.13;
  color: @greyish-brown;
  flex-grow: 1;
  margin-left: 13px;
  margin-bottom: 14px;
  padding-left: 14px;
  height: 45px;
  border: 1px solid @pinkish-grey-three;

  &:hover {
    border: 1px solid @very-light-pink-three;
  }

  &:focus,
  &:active {
    border: 2px solid @greyish-brown;
    outline: none;
  }

  &:invalid {
    border: 2px solid @peachy-pink;
  }
}

.form__input-text:focus + .form__input-icon svg,
.form__input-text:active + .form__input-icon svg {
  fill: @leaf;
}

.form__input-text:invalid + .form__input-icon svg {
  fill: @peachy-pink;
}

// радио список
.form__list-target {
  list-style-type: none;
  border-top: 1px solid @very-light-pink-three;
  border-bottom: 1px solid @very-light-pink-three;
  margin: 0;
  padding: 0 @mobile-indent;
  padding-top: 20px;
}

//заголовок
.form__subtitle {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  margin: 0;
  margin-top: 31px;
  margin-left: @mobile-indent;
  margin-right: @mobile-indent;
  padding-bottom: 34px;
  .font-title;
  font-size: 24px;
  line-height: 1;
  color: @black-two;
  text-align: left;

  &--line {
    &::after {
      content: "";
      position: absolute;
      top: 14px;
      right: 0;
      margin-right: -83px;
      height: 3px;
      background-color: @leaf;
      min-width: 162px;
      flex-grow: 1;
    }
  }

  &--comment {
    margin-top: 14px;

    &::after {
      margin-right: -25px;
    }
  }

  &--add {
    padding-bottom: 0;
    margin-top: 29px;
    margin-bottom: 18px;

    &::after {
      margin-right: -46px;
    }
  }
}

// контакты владельца
.form__contact-list {
  list-style-type: none;
  padding: 0 @mobile-indent;
  margin: 0;
  margin-bottom: 0;
}

.form__input-icon {
  z-index: 10;
  position: absolute;

  &--mail {
    top: 13px;
    right: 16px;
  }

  &--phone {
    top: 13px;
    right: 13px;
  }
}

.form__input-icon + .form__input-text {
  padding-right: 34px;
}

//комментарий
.form__textarea {
  .font-description-oswald;
  font-size: 16px;
  text-align: left;
  line-height: 1.13;
  color: @greyish-brown;
  margin: 0 @mobile-indent;
  margin-top: 0;
  padding: 12px 13px;
  height: 150px;
}

//раздел дополнительно
.form__optionally {
  list-style-type: none;
  padding: 0 @mobile-indent;
  margin-bottom: 18px;
}

//контролы
.form__controls {
  display: flex;
  flex-direction: column;
}

.form__button {
  margin: 0 @mobile-indent;
  padding-top: 2px;
  font-size: 16px;
}

.form__footnote {
  margin: 23px auto;
  margin-bottom: 32px;
  .font-description-arial;
}

@media (min-width: @tablet-width) {
  .form__description {
    font-size: 20px;
    line-height: 1.5;
    padding-left: @tablet-indent-form;
  }

  .form__label {
    font-size: 20px;
  }

  // параметры кота
  .form__list-cat-propeties {
    padding: 0 @tablet-indent-form;
    margin-top: 66px;
  }

  .form__input-text {
    margin-left: 17px;
    margin-bottom: 20px;
    padding-left: 17px;
    height: 52px;
    font-size: 20px;
  }

  // радио
  .form__list-target {
    margin: 0 @tablet-indent-form;
    margin-top: 42px;
    margin-bottom: 46px;
    border: 1px solid @very-light-pink-three;
  }

  //заголовки
  .form__subtitle {
    margin-left: 69px;
    border: none;
    font-size: 36px;
    justify-content: flex-start;
    position: relative;

    &--line {
      &::before {
        content: "";
        position: absolute;
        top: 22px;
        left: 0;
        margin-left: -98px;
        width: 60px;
        height: 3px;
        background-color: @leaf;
      }

      &::after {
        top: 22px;
        right: 0;
        margin-right: -375px;
        min-width: 500px;
      }
    }

    &--comment {
      &::after {
        margin-right: -40px;
      }
    }

    &--add {
      &::after {
        margin-right: -75px;
      }
    }
  }

  //контакт
  .form__contact-list {
    margin-top: 42px;
    margin-bottom: 32px;
    padding: 0 @tablet-indent-form;
  }

  .form__input-icon {
    &--phone {
      top: 16px;
    }
  }

  .form__textarea {
    margin: 0 @tablet-indent-form;
    margin-top: 42px;
    margin-bottom: 34px;
    height: 176px;
    font-size: 20px;
    padding: 15px;
    padding-left: 17px;
  }

  .form__optionally {
    padding: 0 @tablet-indent-form;
    margin-top: 26px;
  }

  //контролы
  .form__controls {
    flex-direction: row;
    margin-top: 15px;
    margin-bottom: 72px;
  }

  .form__button {
    margin: 0 @tablet-indent-form;
    margin-right: 60px;
    font-size: 20px;

    min-width: 283px;
    height: 52px;
  }

  .form__footnote {
    text-align: left;
    margin: 0;
    font-size: 16px;
    padding-top: 17px;
  }
}

@media (min-width: @desktop-width) {
  .form__wrapper {
    max-width: @content-width;
    padding: 0;
  }

  .form__form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 106px;
  }

  .form__description {
    width: @content-width;
    padding: 0;
    margin-top: 34px;
  }

  .form__list-cat-propeties {
    width: @content-width / 2;
    padding: 0;
    padding-right: 40px;
  }

  .form__list-target {
    width: @content-width / 2 - 40px;
    margin: 0;
    height: auto;
    margin-top: 66px;
    margin-left: 40px;
    margin-bottom: 68px;
  }

  .form__subtitle {
    width: 520px;
    margin-top: 0;
    margin-left: 0;
    justify-content: space-between;

    &--line {
      &::before {
        left: -442px;
        min-width: 500px;
        flex-grow: 1;
      }

      &::after {
        flex-grow: 1;
        right: 0;
        margin-right: -1532px;
        min-width: 1500px;
      }
    }

    &--comment {
      &::after {
        margin-right: -1200px;
      }
    }

    &--add {
      &::after {
        margin-right: -1232px;
      }
    }
  }

  .form__contact-list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 48px;
    flex-wrap: wrap;
  }

  .form__contact-list-item {
    width: 570px;

    &:last-of-type {
      padding-left: 80px;
      width: 650px;
    }
  }

  .form__input-icon {
    &--mail {
      top: 16px;
      right: 20px;
    }

    &--phone {
      top: 18px;
      right: 18px;
    }
  }

  .form__textarea {
    width: @content-width;
    margin: 42px 0;
    margin-bottom: 64px;
  }

  .form__optionally {
    width: @content-width;
    display: flex;
    padding: 0;
  }

  .form__button {
    width: 568px;
    height: 54px;
    margin: 0;
    margin-top: 8px;
    padding-top: 0;
  }

  .form__footnote {
    margin-left: 82px;
    margin-top: 8px;
  }
}
