.form__description {
  .font-description-oswald;
  line-height: 1.29;
  color: @black-two;
  text-align: left;
}

.form__label {
  .font-description-oswald;
  line-height: 1.13;
  color: @black-three;
  text-align: left;
}

.form__input-text {
  .font-description-oswald;
  font-size: 16px;
  text-align: left;
  line-height: 1.13;
  color: @greyish-brown;
}

.form__textarea {
  .font-description-oswald;
  font-size: 16px;
  text-align: left;
  line-height: 1.13;
  color: @greyish-brown;
}

.form__list-cat-propeties {
  list-style-type: none;
}

.form__list-target {
  list-style-type: none;
}

.form__optionally {
  list-style-type: none;
}
