.header {
  padding: 0;
  display: flex;
}

.header__wrapper {
  margin: 0 auto;
  width: 100%;

  display: flex;
  flex-direction: column;
}

.header__logo {
  height: 39px;
  margin-left: 20px;
  margin-top: 11px;
  margin-bottom: 15px;

  &:hover,
  &:focus {
    opacity: 0.8;
    cursor: pointer;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: @tablet-width) {
  .header__wrapper {
    padding: 0 @tablet-indent;

    flex-direction: row;
    justify-content: space-between;
  }

  .header__logo {
    margin-top: 24px;
    margin-left: 0;
  }

  .header__logo-image {
    width: 174px;
    height: 59px;
  }

  .header__menu {
    width: auto;
  }
}

@media (min-width: @desktop-width) {
  .header {
    min-height: 84px;
    width: 100%;
    position: relative;
    z-index: 100;
  }

  .header__wrapper {
    max-width: @content-width;
    padding: 0;
    // padding-top: 29px;
    position: relative;
  }

  .header__logo {
    height: 60px;
    margin-top: 24px + 29px;
  }

  .header__logo-image {
    width: 203px;
    height: 60px;
  }
}
