.main-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top: 1px solid @light-grey;
}

.main-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.main-nav__item {
  .font-medium;
  color: @black-two;
  padding: 24px 0;
  border-bottom: 1px solid @light-grey;
}

.main-nav__link {
  color: @black-two;
}

@media (min-width: @tablet-width) {
  .main-nav {
    border: none;
    margin-top: 23px;
  }

  .main-nav__list {
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav__item {
    border: none;
    padding-bottom: 12px;
  }

  .main-nav__item:not(:last-child) {
    margin-right: 36px;
  }

  .main-nav__item--active {
    border-bottom: 2px solid @leaf;
  }

  .main-nav__link {
  }
}

@media (min-width: @desktop-width) {
  .main-nav__item--index {
    color: @white-two;
    border-color: @white-two;
  }

  .main-nav__link--index {
    color: @white-two;
  }
}
