.map {
  display: flex;
  width: 100%;
}

.map__wrapper {
  display: flex;
  width: 100%;
}

.map__map {
  width: 100%;
  height: 362px;
  background-color: @white-three;
  background-image: url("../img/map-pin.png"),
    url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat, no-repeat;
  background-position: 50% 45%, 50% 100%;
  background-size: 20%, cover;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/map-pin.png"),
      url("../img/bg-map-mobile@2x.png");
  }
}

@media (min-width: @tablet-width) {
  .map__map {
    height: 394px;
    background-image: url("../img/map-pin.png"),
      url("../img/bg-map-tablet@1x.png");
    background-position: 50% 50%, 50% 100%;
    background-size: 16%, cover;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/map-pin.png"),
        url("../img/bg-map-tablet@2x.png");
    }
  }
}

@media (min-width: @desktop-width) {
  .map__map {
    height: 400px;
    min-width: @desktop-width;

    background-image: url("../img/map-pin.png"),
      url("../img/bg-map-desktop@1x.png");
    background-position: 75.8% 51%, 50% 100%;
    background-size: 8.7%, cover;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/map-pin.png"),
        url("../img/bg-map-desktop@2x.png");
    }
  }
}
