.more-products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 25px;
}

.more-products__image {
  // margin: 0 auto;
  width: 31px;
  height: 31px;
}

.more-products__title {
  .font-description-oswald;
  font-size: 16px;

  line-height: 1.25;
  color: @black-two;

  width: 100%;
  margin-top: 20px;
  margin-bottom: 5px;
  min-width: 280px;
}

.more-products__link {
  color: @black-two;
}

.more-products__description {
  .font-description-arial;
  font-size: 12px;
  line-height: 1.33;
  color: @greyish-brown;
  text-align: center;

  width: 100%;
  margin-top: 5px;
  margin-bottom: 20px;
  // min-width: 280px;
}

.more-products__button {
  background-color: @white-three;
  color: @greyish-brown;
  width: 100%;
  font-size: 16px;
  line-height: 1.25;
  padding-top: 12px;
  margin-bottom: 25px;
}

@media (min-width: @tablet-width) {
  .more-products {
    border: 1px solid @very-light-pink-three;
    background-color: @white-two;

    flex-direction: column;
    justify-content: flex-start;
    // align-items: center;
    flex-wrap: nowrap;
  }

  .more-products__picture {
    // margin: 0 auto;
  }

  .more-products__image {
    // margin: 0 auto;
    width: 61px;
    height: 61px;
    margin-top: 28px;

    & path {
      fill: @very-light-pink-three;
    }
  }

  .more-products__title {
    min-width: auto;
    width: 140px;
    font-size: 20px;
    line-height: 1;
    margin-top: 46px;
  }

  .more-products__description {
    // margin: 0 30px;
    font-size: 16px;
    min-width: auto;
    width: 170px;
    margin-top: 24px;
    line-height: 1;
  }

  .more-products__button {
    // margin: 0 30px;
    width: 250px;
    margin-top: 68px;
    padding-top: 10px;
  }
}
