.page {
  margin: 0;
  padding: 0;
}

.page--no-lines {
  //убираем горизонтальный скролл (Заголовки с зелеными полосами)
  max-width: 100%;
  overflow-x: hidden;
}

.page__title {
  .font-title;
  line-height: 1.67;
  color: @black-two;
  margin-top: 15px;
  margin-bottom: 28px;
  margin-right: @mobile-indent;
  margin-left: @mobile-indent;
  text-align: left;
}

.page__gift {
  margin-bottom: 35px;
}

@media (min-width: @tablet-width) {
  .page__title {
    margin: 42px 0;

    //нужно для страницы формы
    margin-right: @tablet-indent;
    margin-left: @tablet-indent;

    margin-bottom: 35px;
    font-size: 60px;

    &--catalog {
      margin-left: 0;
    }
  }

  .page__gift {
    margin-top: 44px;
    margin-bottom: 76px;
  }
}

@media (min-width: @desktop-width) {
  .page__title {
    width: @content-width;

    margin: 0;
    margin-top: 40px;
  }
}
