.product-optional {
  list-style-type: none;
}

.product-optional__title {
  .font-description-oswald;
  font-size: 16px;
  text-align: left;
  color: @black-three;
}

.product-optional__description {
  .font-description-arial;
  text-align: left;
  color: @greyish-brown;
}
