.product-optional {
  display: flex;
}

.product-optional__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  padding: 0 @mobile-indent;
}

.product-optional__title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  margin: 0;
  margin-top: 28px;
  padding-bottom: 34px;
  border-bottom: solid 1px @very-light-pink-three;

  .font-title;
  font-size: 24px;
  line-height: 1;
  color: @black-two;
  text-align: left;

  &--line {
    &::after {
      content: "";
      position: absolute;
      top: 14px;
      right: -@mobile-indent;
      height: 3px;
      background-color: @leaf;
      min-width: 53px;
      flex-grow: 1;
    }
  }
}

.product-optional__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
}

.product-optional__item {
  margin-bottom: 13px;
  border-bottom: solid 1px @very-light-pink-three;
}

.product-optional__subtitle {
  .font-description-oswald;
  font-size: 16px;
  text-align: left;
  color: @black-three;
  margin: 13px 0;
}

.product-optional__link {
  color: @black-two;
}

.product-optional__description {
  .font-description-arial;
  text-align: left;
  color: @greyish-brown;
  display: flex;
  justify-content: space-between;
}

.product-optional__button {
  font-size: 16px;
  flex-grow: 1;
  margin-bottom: 17px;
  width: 100%;
  padding-top: 12px;
}

@media (min-width: @tablet-width) {
  .product-optional__wrapper {
    padding: 0 @tablet-indent;
  }

  .product-optional__list {
    border: solid 1px @very-light-pink-three;
    margin-top: 46px;
  }

  .product-optional__title {
    margin-left: 36px;
    border: none;
    font-size: 36px;
    justify-content: flex-start;
    position: relative;

    &--line {
      &::before {
        content: "";
        position: absolute;
        top: 22px;
        left: -98px;
        width: 60px;
        height: 3px;
        background-color: @leaf;
      }

      &::after {
        top: 22px;
        right: -37px;
        min-width: 334px;
      }
    }
  }

  .product-optional__item {
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: solid 1px @very-light-pink-three;
    margin-bottom: 0;

    &:last-of-type {
      border: none;
    }
  }

  .product-optional__subtitle {
    padding-left: 37px;
    margin-top: 25px;
    width: 50%;
  }

  .product-optional__link {
    font-size: 20px;
  }

  .product-optional__description {
    width: 50%;
    font-size: 16px;
    margin-top: 30px;
    justify-content: flex-end;
  }

  .product-optional__price {
    margin-right: 35px;
    margin-left: 52px;
    min-width: 43px;
    text-align: right;
  }

  .product-optional__button {
    margin: 0 37px;
    margin-top: 9px;
    margin-bottom: 27px;
  }
}

@media (min-width: @desktop-width) {
  .product-optional {
    margin-bottom: 102px;
  }

  .product-optional__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    max-width: @content-width;
    padding: 0;
    margin-bottom: 0;
  }

  .product-optional__title {
    width: 360px;
    margin-left: 0;

    &--line {
      &::before {
        left: -1040px;
        min-width: 1000px;
        flex-grow: 1;
      }

      &::after {
        flex-grow: 1;
        right: 0;
        margin-right: -1314px;
        min-width: 1300px;
      }
    }
  }

  .product-optional__list {
    width: 895px;
    border: none;
  }

  .product-optional__item {
    justify-content: space-between;
    padding-bottom: 9px;

    &:first-of-type {
      border-top: solid 1px @very-light-pink-three;
    }

    &:last-of-type {
      border-bottom: solid 1px @very-light-pink-three;
    }
  }

  .product-optional__subtitle {
    width: auto;
    padding: 0;
    min-width: 220px;
  }

  .product-optional__description {
    width: 360px;
    justify-content: space-between;
    padding-left: 70px;
  }

  .product-optional__price {
    margin-right: 3px;
    margin-left: 48px;
    text-align: left;
  }

  .product-optional__button {
    width: 245px;
    flex-grow: 0;
    margin: 0;
    margin-top: 14px;
  }
}
