.product {
  display: flex;
  padding: 0;
}

.product__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
}

.product__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.product__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-top: solid 1px @light-grey;
  padding: 0 @mobile-indent;

  &:last-of-type {
    border-bottom: solid 1px @light-grey;
  }
}

.product__image {
  width: 140px;
  height: 144px;
}

.product__info {
  min-width: 140px;
}

.product__title {
  .font-description-oswald;
  font-size: 16px;
  line-height: 1.25;
  text-align: left;
  max-width: 100px;
  margin-top: 21px;
  margin-bottom: 14px;
}

.product__link {
  color: @black-two;
}

.product__description {
  .font-description-arial;
  font-size: 12px;
  line-height: 1.33;
  color: @greyish-brown;
  max-width: 140px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product__property {
  width: 70px;
}

.product__value {
  flex-grow: 1;
  margin: 0;
  text-align: right;
}

.product__button {
  font-size: 16px;
  flex-grow: 1;
  margin-bottom: 24px;
  width: 100%;
  padding-top: 12px;
  margin-top: -1px;
}

@media (min-width: @tablet-width) {
  .product__wrapper {
    padding: 0 @tablet-indent;
  }

  .product__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-bottom: 9px;
  }

  .product__item {
    width: 324px;
    background-color: @white-three;
    margin-top: 110px;
    margin-bottom: 31px;
    flex-direction: column;
    padding: 0;
    position: relative;
  }

  .product__image {
    width: 324px;
    height: auto;
    margin-top: -47px;
    position: absolute;

    &--big {
      margin-top: -83px;
    }
  }

  .product__info {
    padding-top: 140px;
  }

  .product__title {
    max-width: 140px;
    text-align: center;
    margin: 0 auto;
    margin-top: 22px;
    line-height: 1;
  }

  .product__link {
    font-size: 20px;
  }

  .product__description {
    font-size: 16px;
    margin: 0 auto;
    margin-top: 18px;
    min-width: 250px;
  }

  .product__property {
    width: 50%;
    border-bottom: 1px solid @very-light-pink-three;
    padding-bottom: 5px;
    padding-top: 5px;
  }

  .product__value {
    width: 50%;
    border-bottom: 1px solid @very-light-pink-three;
    padding-bottom: 5px;
    padding-top: 5px;
  }

  .product__button {
    flex-grow: 0;
    width: 250px;
    margin: 0 auto;
    margin-top: 34px;
    margin-bottom: 39px;
    padding-top: 12px;
  }
}

@media (min-width: @desktop-width) {
  .product__list {
    margin-bottom: 53px;
  }

  .product__item {
    width: 245px;
    margin-top: 146px;
    margin-bottom: -4px;
  }

  .product__wrapper {
    max-width: @content-width;
    padding: 0;
  }

  .product__description {
    min-width: 170px;
  }

  .product__button {
    width: 170px;
  }
}
