// радио кнопки

.radio-list__list-item {
  margin-top: 6px;
  margin-bottom: 24px;
}

.radio-list__label {
  position: relative;

  cursor: pointer;

  &:active {
    opacity: 0.3;
  }
}

.radio-list__radio-button {
  /* скрываем радио баттоны правильно */
  position: absolute;

  appearance: none;

  /* скрываем радио баттоны в IE 11 */
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.radio-list__pseudo-radio {
  border-radius: 50%;
  border: solid 1px @very-light-pink-three;
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  top: -10px;
  left: 0;

  &:hover,
  &:focus {
    border-color: @pinkish-grey-two;
  }

  &:active {
    opacity: 0.3;
  }
}

.radio-list__pseudo-label {
  .font-description-oswald;
  color: @black-three;
  font-size: 16px;
  line-height: 1.13;

  padding-left: 46px;
}

/* Стилизуем радиобаттоны в состоянии фокуса, во имя доступности, так как шаблоном подобное состояние не предусмотрено */
.radio-list__radio-button:focus + .radio-list__pseudo-radio {
  // outline: -webkit-focus-ring-color auto 1px;
  outline: @focus-color auto 1px;
  // outline-color: -webkit-focus-ring-color;
  outline-color: @focus-color;
  outline-style: auto;
  outline-width: 1px;
}

.radio-list__radio-button:checked + .radio-list__pseudo-radio::before {
  width: 12px;
  height: 12px;
  background-color: @leaf;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  left: 8px;
  display: block;
  content: "";
}

@media (min-width: @tablet-width) {
  .radio-list__list-item {
    margin-top: 12px;
    margin-bottom: 31px;
  }

  .radio-list__pseudo-radio {
    width: 40px;
    height: 40px;

    top: -15px;
    left: 8px;
  }

  .radio-list__pseudo-label {
    font-size: 20px;
    padding-left: 67px;
  }

  .radio-list__radio-button:checked + .radio-list__pseudo-radio::before {
    width: 18px;
    height: 18px;

    top: 10px;
    left: 10px;
  }
}
