.gift {
  width: 280px;
  height: 289px;
  margin: 0 auto;
  background-color: @leaf;
  background-image: url(../img/gift-photo-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.gift__link {
  .font-description-arial;
  font-size: 16px;
  color: @white-four;
  line-height: 1.25;
  text-align: center;
  width: 159px;
  display: block;
  margin: 0 auto;
}
