
// normalize
@import "normalize.less";

// colors
@import "variables.less";

// typography
@import "fonts.less";

//basic
@import "global.less";
@import "blocks/visually-hidden.less";

//Controls
@import "blocks/button.less";
// @import "blocks/radio-button.less";
// @import "blocks/checkbox.less";

//Header
@import "blocks/header.less";
@import "blocks/main-nav.less";
@import "blocks/site-list.less";

//Page
@import "blocks/page.less";

//Footer
@import "blocks/contacts.less";
@import "blocks/map.less";
@import "blocks/footer.less";
@import "blocks/social.less";
@import "blocks/copyright.less";

// index
@import "blocks/benefit.less";
@import "blocks/features.less";
@import "blocks/advantages.less";
@import "blocks/example.less";

// catalog
@import "blocks/product.less";
@import "blocks/more-products.less";
@import "blocks/product-optional.less";
@import "blocks/gift.less";

// form
@import "blocks/form.less";
@import "blocks/radio-list.less";
@import "blocks/checkbox-list.less";

/*

.super-button-red {
  color: red;
}

.super-button-blue {
  color: blue;
}

можно записать проще c помощью вложенных правил:

.super-button {
  &-red { color: red; }

  &-blue { color: blue; }
}

*/
