// colors
@leaf: #68b738;
@grass: #5eaa2f;

@white-three: #f2f2f2;
@white-three-v2: #eaeaea;
@white-two: #ffffff;
@white-30: rgba(255, 255, 255, 0.3);
@white-60: rgba(255, 255, 255, 0.6);

@black-two: #111111;
@black-three: #222222;
@black-two-30: rgba(17, 17, 17, 0.3);
@black-two-60: rgba(17, 17, 17, 0.6);

@greyish-brown: #444444;
@greyish-brown-30: rgba(68, 68, 68, 0.3);

@light-grey: #ededed;
@kakoy-to-grey: #ebebeb;
@beast-grey: #666666;
@very-light-pink-three: #cdcdcd; // для бордера радиобаттона цвет из макета, а также бордер в живом примере
@pinkish-grey-two: #bababa;
@pinkish-grey-three: rgba(205, 205, 205, 0.5);
@grey: #d9d9d9;
@peachy-pink: #ff8282;
@focus-color: rgba(77, 144, 254, 255); /* #4d90fe */

// отступы
@mobile-indent: 20px;
@tablet-indent: 30px;
@desktop-indent: 40px;
@tablet-indent-form: 70px;

// Ширины
@tablet-width: 768px;
@desktop-width: 1300px;
@content-width: @desktop-width - (@desktop-indent * 2); // 1300 - 80 = 1220

// Плотность пикселей
@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;
