// colors
@leaf: #68b738;
@white-three: #f2f2f2;
@white-two: #ffffff;
@black-two: #111111;
@black-three: #222222;
@greyish-brown: #444444;
@light-grey: #efefef;
@grey: #d9d9d9;

// width
@tablet-width: 768px;
@desktop-width: 1280px;
